html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header {
    width: 100%;
    background: #f6f3f4 url(../image/header/Image.jpg) no-repeat center;
    background-size: cover;
    padding-top: 35px;
    padding-bottom: 610px;
    text-align: center;
}
.d-flex{
    display: flex;
    flex-direction: row;
}
.d-flex-c {
    display: flex;
    flex-direction: column;
}
.container {
    width: 960px;
    margin: 0 auto;
}
.header-navigation {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
}
.menu-item {    
    margin-left: 30px;
}
.menu-item a {
    color: #4f4d6a;
    font-size: 12px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'PT Sans',sans-serif;
    text-decoration: none;
}
.header-logo a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    color: #4f4d6a;
    text-decoration: none;
}
.header-logo a p::first-letter {
    font-style: italic;
}
.header-content {
    align-items: center;
    justify-content: center;
    color: #4f4d6a;
    text-transform: uppercase;
    border-bottom: 1px solid #FFF;
}
.header-content-title {
    font-style: italic;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
.header-content-title p {
    display: inline-block;
    vertical-align: middle;
}
.header-content-title:before,
.header-content-title:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 1px;
    background-color: #FFF;
    position: relative;
}
.header-content-title:before {
    margin-left: -100%;
    left: -24px;
}
.header-content-title:after {
    margin-right: -100%;
    right: -24px;
}
.header-content-company {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 125px;
    letter-spacing: -2px;
    margin-top: 30px;
}
.header-content-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 25px;
}
.header-buttons {
    justify-content: center;
    align-items: center;
}
.button {
    color: #FFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 18px;
    line-height: 45px;
    text-decoration: none;
    display: block;
    width: 220px;
    text-align: center;
    border-radius: 25px;
    margin: 46px 10px 0;
}
.button-1 {
    background-color: #6b6986;
}
.button-2 {
    background-color: #b6a2af;
}
.works {
    background-color: #ebebeb;
    padding-top: 65px;
    width: 100%;
    padding-bottom: 100px;
}
.works-header {
    border-bottom: 1px solid #FFF; 
    text-transform: uppercase; 
    color: #4f4d6a;
}
.works-header .d-flex-c {
    justify-content: center;
    align-items: center;
}
.works-header .header-content-title p {
    font-size: 18px;
}
.works-title {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 72px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.round {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: #efefef;
    align-self: center;
}
.round img {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.works-content .col-3 {
    width: 25%;
    box-sizing: border-box;
    padding: 0 5px;
    align-items: flex-start;
}
.works-content {
    padding-top: 30px;
    flex-wrap: wrap;
    color: #4f4d6a;
    border-bottom: 1px solid #FFF;
    margin-bottom: 40px;
    padding-bottom: 40px;
}
.works-content-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 18px;
}
.works-content-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 12px;
    line-height: 23px;
}
.works-buttons {
    justify-content: center;
    align-items: center;
}
.testimonials {
    width: 100%;
    padding-top: 65px;
    padding-bottom: 80px;
}
.col-4 {
    width: 33.3333%;
    padding-right: 10px;
    box-sizing: border-box;
}
.testimonials-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-style: italic;
    color: #4f4d6a;
    margin-bottom: 30px;
}
.footer .testimonials-header {
    color: #FFF;
}
.col-4>p {
    color: #4f4d6a;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    line-height: 23px;
    font-style: italic;
    margin-bottom: 30px;
}
.testimonials-content a {
    color: #FFF;
    display: block;
    width: 100px;
    height: 22px;
    background: #4f4d6a;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;;
    border-radius: 3px;
    margin: 0;
    line-height: 24px;
    text-align: center;
}
.col-8 {
    width: 66.6667%;
    padding-right: 10px;
    box-sizing: border-box;
}
.footer {
    background: #505050;
    color: #d0d0d0;
    padding-top: 50px;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    line-height: 24px;
}
.footer p,
copyright {
    color: #d0d0d0;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-style: normal;
}
.copyright {
    line-height: 71px;
}
.col-8.testimonials-header,
.col-4.testimonials-header {
    color: #FFF;
}
@media screen and (max-width: 991px) {
    .container {
        width: 720px;
    }
    .header-content-company {
    font-size: 85px;
    }
    .works-content .col-3 {
        width: 50%;
    }
    .works-content-title {
        align-self: center;
    }
    .works-title {
        font-size: 60px;
    }
}
@media screen and (max-width: 767px) {
    .container {
        width: 540px;
    }
    .header-content-company {
        font-size: 65px;
    }
    .header-navigation {
        flex-direction: column;
    }
    .menu {
        margin-top: 35px;
    }
    .works-title {
        font-size: 45px;
    }
}
@media screen and (max-width: 575px) {
    .container {
        width: 75%;
    }
    .header-content-company {
        font-size: 45px;
    }
    .header-content-text{
        font-size: 16px;
    }
    .works-title {
        font-size: 32px;
    }
    .button {
        font-size: 12px;
        line-height: 30px;
    }
    .menu {
        flex-direction: column;
    }
    .menu-item {
        margin: 0;
    }
    .header-navigation {
        margin-bottom: 45px;
    }
    .header {
        padding-bottom: 80px;
    }
    .works-content .col-3 {
        width: 100%;
    }
    .works-content-text {
        text-align: center;
    }
    .testimonials-content {
        flex-direction: column;
    }
    .testimonials-header {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .footer-content {
        flex-direction: column;
    }
    .col-4 {
        width: 100%;
        margin-bottom: 30px;
    }
    .col-8 {
        width: 100%;
        margin-bottom: 20px;
    }
    .col-4>p {
        margin-bottom: 10px;
    }
    .works {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .testimonials {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
.nav-back-button {
    position: fixed;
    right: -20px;
    bottom: 50px;
    background: #333;
    text-align: center;
    transform: rotate(-90deg);
  }
  
  .nav-back-button a {
    display: block;
    color: #ccc;
    text-decoration: none;
    width: 72px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 0.1em;
  }